<div class="check-object-form check-invitation" *ngIf="events?.length > 0" >
  <mat-card class="event-card" *ngFor="let event of events"  >
    <mat-card-header>
      <mat-card-title (click)="moveToEventDetail(event.id)">{{event.name}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        <mat-icon style="vertical-align: middle">navigation</mat-icon> {{event.location}}
      </p>
      <p>
        <mat-icon style="vertical-align: middle">access_time</mat-icon> {{event.date}} at {{event.time.substring(0, 5)}}
      </p>
      <p>
        This is a

        <strong>
          <div *ngIf="event.public; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>public</ng-template>
          <ng-template #elseBlock>private</ng-template>
        </strong>

        event.
      </p>

    </mat-card-content>
    <mat-card-actions style="float: right">
      <button mat-raised-button color="warn" mat-button (click)="cancel(event.id)">No</button>
      <button mat-raised-button  mat-button (click)="invite(event.id)">I'm in</button>

    </mat-card-actions>
  </mat-card>

</div>

<h2 *ngIf="(events?.length==0)" class="check-object-form">You have no open invitations!</h2>
