<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>

<mat-toolbar class="toolbar">
  <div>
    <button *ngIf="isLoggedIn" mat-button class="logo" routerLink="homepage">
      <span>ULTIMATE EVENT</span>
    </button>
    <mat-label *ngIf="!isLoggedIn">ULTIMATE EVENT</mat-label>
  </div>
  <div class="user-settings" *ngIf="isLoggedIn">
    <span *ngIf="!pictureExist">
      <button mat-icon-button class="grow" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </span>

    <span *ngIf="pictureExist">
      <span *ngFor="let picture of pictures">
        <button class="grow" [matMenuTriggerFor]="menu">
          <!-- TODO: VERSCHÖNERN -->
          <img src="api/media/{{picture}}" height="30px"><br>
        </button>
      </span>
    </span>

    <mat-menu #menu="matMenu">
      <button routerLink="user-form" mat-menu-item>
        <mat-icon>build</mat-icon>
        <span>Settings</span>
      </button>
      <app-logout></app-logout>
    </mat-menu>

    <button mat-icon-button class="grow" routerLink="homepage" *ngIf="isLoggedIn">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="grow" (click)="drawer.toggle()">
      <mat-icon>dehaze</mat-icon>
    </button>

  </div>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer class="mat-drawer" #drawer mode="over" position="end" autoFocus="false" (click)="drawer.close()">
    <button routerLink="event-list" mat-menu-item>
      <mat-icon>list_alt</mat-icon>
      <span>My Events</span>
    </button>
    <button routerLink="event-form" mat-menu-item>
      <mat-icon>create</mat-icon>
      <span>Create Event</span>
    </button>
    <button routerLink="tag-list" mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Search Events</span>
    </button>
    <button routerLink="friends-list" mat-menu-item>
      <mat-icon>favorite</mat-icon>
      <span>Friends</span>
    </button>
    <button routerLink="check-invitation" mat-menu-item>
      <mat-icon>event</mat-icon>
      <span>Invitations</span>
    </button>
    <button routerLink="check-tasks" mat-menu-item>
      <mat-icon>assignment_return</mat-icon>
      <span>Pending Tasks </span>
    </button>
    <button routerLink="calender" mat-menu-item>
      <mat-icon>event_note</mat-icon>
      <span>Calendar</span>
    </button>
  </mat-drawer>
  <mat-drawer-content
    style="height: 92vh; background-image: url('https://cdn.allbuyone.com/media/image/43/a8/a8/allbuyone-eventshop-hero1.jpg')">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
