<div class="event-list">

  <mat-card class="event-card" *ngFor="let event of events" >
    <mat-card-header>
      <mat-card-title >{{event.name}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        Description: {{event.description}}
      </p>
      <p>
        Location: {{event.location}}
      </p>
      <p>
        When: {{event.datetime}}
      </p>
      <p>
        Is it public {{event.public}}?
      </p>
      <p>
        Responsible: {{event.eventplanner}}
      </p>
      <p>
        Who else: {{event.invited}}
      </p>
    </mat-card-content>
    <mat-card-actions >
      <button  style="width: 100%; background-color: green; color: white" mat-button (click)="moveToEventDetail(event.id)" >more info (beta)</button>
    </mat-card-actions>
  </mat-card>

</div>
