.event-list {
  flex-direction: column;
  width: 90%;
  margin: 0px auto 2rem;
  padding: 0px 1% 3% 3%;
}
.event-card{
  width: 25%;
  margin: 10px;
  display: inline-block;
  animation: 750ms ease-out 0s 1 areaSlideInFromBottom;
}
.new-event-card
{
  // text-align: center;
  width: 50%;
  // display: inline-block;
  //align-self: flex-end;
}

.mat-card-header {
  display: contents;
}

@keyframes areaSlideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.create-event {
  padding: 20px;
  width: 50%;
  margin: auto;
  animation: 1s ease-out 0s 1 areaSlideInFromTop;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 0 0 10px 10px;
  text-align: -webkit-center;
}

@keyframes areaSlideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}
