.event-list {
  flex-direction: column;
  width: 90%;
  margin: 0px auto 2rem;
  padding: 0px 1% 3% 3%;
}
.event-card{
  width: 25%;
  margin: 10px;
  display: inline-block;
}
.new-event-card
{
  width: 25%;
  display: inline-block;
  align-self: flex-end;
}
