.event-list {
  flex-direction: column;
  width: 50rem;
  margin: 2rem auto;
}
.event-card{
  width: 25%;
  margin: 10px;
  display: inline-block;
}
.new-event-card
{
  width: 25%;
  display: inline-block;
  align-self: flex-end;
}
