<div *ngIf="tasks?.length > 0" >
  <mat-accordion *ngFor="let task of tasks">
    <mat-expansion-panel (opened)="logtaskfunc(task)"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header [ngStyle]="{'background-color': (task.event.eventplanner == userId)? 'green' : 'red'}">
        <mat-panel-title>
          {{task.title}}
        </mat-panel-title>
        <mat-panel-description>
          For the event: {{task.event.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Date: {{task.deadline_date}}</p>
      <p>Deadline: {{task.deadline_time}}</p>
      <p>Who will do it: {{task.responsible}}</p>
      <p>{{task.description}}</p>

      <mat-action-row>
        <button mat-button color="primary" (click)="accepTask(task)">We will do it</button>
        <button mat-button color="primary" (click)="denyTask(task)">No</button>
      </mat-action-row>


    </mat-expansion-panel>
    <br>
  </mat-accordion>

</div>

<div *ngIf="!(tasks?.length > 0)" >
<mat-label> You do not have any tasks open! </mat-label>

</div>
