<div *ngIf="tasks?.length > 0" class="check-object-form">
  <mat-accordion *ngFor="let task of tasks">
    <mat-expansion-panel (opened)="logtaskfunc(task)"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header
        [ngStyle]="{'background-color': (task.event.eventplanner == userId)? 'green' : 'red'}">
        <mat-panel-title>
          {{task.title}}
        </mat-panel-title>
        <mat-panel-description>
          For the event: {{task.event.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Deadline: {{task.deadline_date | date: 'dd MMM yyyy'}} at {{task.deadline_time.substring(0, 5)}}</p>
      <p>Responsible: <strong>@{{task.responsible.username}}</strong></p>
      <p>{{task.description}}</p>

      <mat-action-row>
        <button mat-button color="warn" (click)="denyTask(task)">No</button>
        <button mat-button color="primary" (click)="accepTask(task)">I'll do it</button>

      </mat-action-row>

    </mat-expansion-panel>
    <br>
  </mat-accordion>

</div>

<h2 *ngIf="!(tasks?.length > 0)" class="check-object-form">
  You do not have any tasks open!
</h2>
