.task-status {
  width: 33%;
  float: left;
}

.messengerstatus {
  width: 25%;
  float: right;
  clear:right;


}
.messengerbox{
  height: 40vh;
}

.asdfdiv {

  float: left;
  width: 75%;
}


.messenger{

  display: block;



}
