.task-status {
  width: 25%;
  float: left;
}


.messengerstatus {
  width: 25%;
  float: right;
  clear:right;


}

.messengerbox{
  height: 40vh;
  overflow-y: scroll;

}

/* links rechts */
.him{
  float: left;
  height: 10vh;
  background: #9DA05F;
  color: #fff;
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.me{
  float: right;
  height: 10vh;
  background: #A0615F;
  color: #fff;
  display:inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

/* */

.eventanzeige {
  float: left;
  width: 75%;
}

.newmessgage{
  display: block;
}


.messenger{
  display: block;
}

.task-margin {;
  margin-bottom: 5%;
}

.panel-header-width {
  width: 50%;
}

.task-status-inner {
  padding: 2%;
}

.task-status-text {
  font-weight: bold;
  text-align: center;
  // border-bottom: 3px solid black;
  margin-bottom: 2%;
}

.drop-list-height {
  min-height: 100px;
  padding-bottom: 30px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
