@media only screen and (max-width: 550px) {
  .task-status {
    width: 100%;
  }
}

@media only screen and (min-width: 550px) {
  .task-status {
    width: 33%;
  }
}

.eventanzeige {
  float: left;
  width: 75%;
}

.task-status {
  float: left;
}

.messenger {
  width: 25%;
  float: right;
  clear: right;
}

.messengerbox {
  height: 70vh;
  overflow-y: scroll;
}

.message {
  // overflow: hidden;
  display: contents;
  // border-color: white;
}

/* links rechts */
.others {
  float: left;
  height: fit-content;
  width: 50%;
  background: #A4E3BC;
  color: #fff;
  display: inline-block;
  clear: both;
  padding: 5px 15px;
  margin: 5px 10px !important;
  // margin-bottom: 5px !important;
  border-radius: 15px;
  font-family: Helvetica, Arial, sans-serif;
}


.me {
  float: right;
  height: fit-content;
  width: 50%;
  background: #66CDAA;
  color: #fff;
  display: inline-block;
  clear: both;
  padding: 0 15px;
  margin: 5px 10px !important;
  border-radius: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

.current-date {
  height: auto;
  width: fit-content;
  vertical-align: central;
  background: #636363;
  color: #fff;
  display: block;
  clear: both;
  padding: 10px 20px;
  border-radius: 15px;
  margin: auto !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-family: Helvetica, Arial, sans-serif;
}


.mat-button {
  background-color: #A4E3BC; /* Blue background */
  float: right;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 16px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.mat-button:hover {
  background-color: #749b7f;
}

.new-message.matInput {


}

/* */


.new-message {
  float: right;
  height: fit-content;
  width: 70%;
  background: #66CDAA;
  color: #fff;
  display: inline-block;
  clear: both;
  padding: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.new-message-content {
  width: 80%;
  //max-width: 70%;
  float: left;
  overflow: hidden;
}

.new-message-button {
  width: fit-content;
  max-width: 20%;
  border-radius: 50%;
  float: left;
  margin-left: 3%;
  // position: unset !important;
  background-color: transparent !important;
}

.new-message-button:hover {
  cursor: pointer;
}

.task-margin {;
  margin-bottom: 5%;
}

.panel-header-width {
  width: 80%;
}

.task-status-inner {
  padding: 2%;
}

.task-status-text {
  font-weight: bold;
  text-align: center;
  // border-bottom: 3px solid black;
  margin-bottom: 2%;
}

.drop-list-height {
  min-height: 100px;
  padding-bottom: 30px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 400ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

@keyframes areaSlideInFromEnd {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes areaSlideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;

  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes areaButtonSlideInFromBottom {
  0% {
    transform: translateY(1000%);
    opacity: 0;
  }
  50% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.messenger-form-background {
  margin-top: 20px;
  padding-bottom: 20px;
  float: right;
  clear: right;
  animation: 1500ms ease-out 0s 1 areaSlideInFromEnd;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.event-card {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
  animation: 1500ms ease-out 0s 1 areaSlideInFromTop;
  display: block !important;
}

.add-task-button {
  width: 30%;
  min-width: fit-content;
  float: none;
  margin: 20px 35% 2vh;
  background-color: rgba(245, 245, 245, 0.95);
  color: black;
  border-radius: 10px;
  overflow: hidden;
  animation: 1500ms ease-out 1 areaButtonSlideInFromBottom;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.add-task-button:hover {
  background-color: #e6e6e6;
}

.task-board-form {
  width: 90%;
  padding: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
  animation: 1500ms ease-out 1 areaSlide300InFromBottom;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  display: table;
}

@media only screen and (max-width: 850px) {
  .messenger-form-background {
    width: 95%;
  }
  .eventanzeige {
    width: 100%;
  }
}

@media only screen and (min-width: 850px) {
  .messenger-form-background {
    width: 25%;
  }
}

.pictures {
  display: inline-block;
  height: 100px;
  position: relative;
  margin: auto;
}

.picture {
  display: flex;
  margin: auto;
}

.picture-small {
  margin: 5px;
}
