<div class="check-object-form event-list" style="text-align: center"
     *ngIf="event ? event.eventplanner != userId && !event.participants.includes(userId) && !event.public : false">
  <h3>This is a private event and you are therefore not authorized to see details!</h3>
</div>

<div class="eventanzeige"
     *ngIf="event ? event.eventplanner==userId || event.participants.includes(userId) || event.public : false">


  <mat-card class="event-card" *ngIf="event">

    <mat-card-header>
      <mat-card-title style="margin: 8px 0">{{event.name}}</mat-card-title>

      <div *ngIf="event.public">
        <button mat-icon-button shareButton="whatsapp"
                [description]="'Have you heard about this event?' ">
          <img src="https://img.icons8.com/color/32/000000/whatsapp.png">
        </button>
        <button mat-icon-button shareButton="twitter"
                [description]="'Have you heard about this event?'">
          <img src="https://img.icons8.com/color/32/000000/twitter-squared.png">
        </button>
        <button mat-icon-button shareButton="email"
                [description]="'Have you heard about this event?'">
          <mat-icon>mail</mat-icon>
        </button>

        <button mat-icon-button shareButton="print">
          <mat-icon>print</mat-icon>
        </button>
      </div>

    </mat-card-header>

    <!-- Gallery BEGIN --------------------------------------------------------------------------------->

    <div style="text-align: center">
      <div *ngFor="let picture of pictures" class="pictures">

        <img src="api/media/{{picture}}" height="50px" (click)="bigPicture(picture)" class="picture-small">

      </div>
    </div>

    <img src="api/media/{{pictureId}}" height="300px" class="picture" *ngIf="close">

    <br>


    <!-- Gallery END --------------------------------------------------------------------------------->

    <hr>

    <div
      *ngIf="userId == event.eventplanner || event.participants.includes(userId); then participationThenBlock else participationElseBlock"></div>
    <ng-template #participationThenBlock>
      <div *ngIf="userId == event.eventplanner; then participationThenBlock2 else participationElseBlock2"></div>
    </ng-template>
    <ng-template #participationThenBlock2>You are the event planner.</ng-template>
    <ng-template #participationElseBlock2>You are participating in this event.</ng-template>
    <ng-template #participationElseBlock>
      <button mat-button (click)="participateEvent(event)">I'm in!</button>
    </ng-template>

    <br><br>

    <mat-card-content>

      <p>
        <mat-icon style="vertical-align: middle">description</mat-icon>
        {{event.description}}
      </p>
      <p>
        <mat-icon style="vertical-align: middle">navigation</mat-icon>
        {{event.location}}
      </p>
      <p>
        <mat-icon style="vertical-align: middle">access_time</mat-icon>
        {{event.date | date:'dd MMM yyyy'}} at {{event.time.substring(0, 5)}}
      </p>
      This is a

      <strong>
        <div *ngIf="event.public; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>public</ng-template>
        <ng-template #elseBlock>private</ng-template>
      </strong>

      event.
      <p *ngFor="let user of userOptions">
        <span *ngIf="event.eventplanner==user.id">Responsible: <strong>@{{user.user.username}}</strong></span>
      </p>
      <p *ngIf="event.participants.length!=0">Participants: <span *ngFor="let user of userOptions">
        <span
          *ngIf="event.participants.includes(user.id) && event.participants[event.participants.length - 1] != user.id">
          <strong>@{{user.user.username}}</strong>, </span>
        <span
          *ngIf="event.participants.includes(user.id) && event.participants[event.participants.length - 1] == user.id">
          <strong>@{{user.user.username}}</strong></span>
      </span>
      </p>

      <mat-action-row *ngIf="event.eventplanner==userId">
        <button mat-mini-fab style="background-color:orange;" *ngIf="event.eventplanner==userId"
                (click)="updateEvent(event.id)">
          <mat-icon>build</mat-icon>
        </button>

        <button mat-mini-fab color="warn" *ngIf="event.eventplanner==userId" (click)="deleteEvent(event)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-action-row>
    </mat-card-content>
  </mat-card>

  <div *ngIf="event ? event.eventplanner==userId || event.participants.includes(userId) : false">

    <button class="add-task-button" mat-button (click)="createTask(event)">Create new Task</button>


    <!--All Tasks -->

    <!-- ------------------------------------------------------------------------------------------------------------- -->

    <div class="task-board-form">

      <div class="task-status">
        <div class="task-status-inner">
          <div class="task-status-text">To Do</div>
          <div cdkDropList id="listToDo" [cdkDropListData]="tasksOpen" (cdkDropListDropped)="saveDroppedItem($event)"
               [cdkDropListConnectedTo]="['listInProgress', 'listDone']"
               class="drop-list-height">
            <div cdkDrag [cdkDragData]="task" *ngFor="let task of tasksOpen"
                 [cdkDragDisabled]="userId!=task.responsible && userId!=event.eventplanner">
              <mat-expansion-panel class="task-margin">
                <mat-expansion-panel-header
                  [ngStyle]="{'background-color': (userId!=task.responsible && userId!=event.eventplanner) ? '#9b9b9b' : null }">
                  <!-- WÜRDE AUCH GEHEN ABER GIBT KOMISCHEN HOVER ZURÜCK
                  <mat-expansion-panel-header [ngClass]="{'task-not-dragable': (username!=task.responsible)}"> -->

                  <mat-panel-title class="panel-header-width">
                    <strong>{{task.title}}</strong> <br>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  <mat-icon style="vertical-align: middle">description</mat-icon>
                  {{task.description}}
                </p>
                <p>
                  Deadline: {{task.deadline_date | date:'dd MMM yyyy'}} at {{task.deadline_time.substring(0, 5)}}
                </p>
                <p *ngFor="let user of userOptions">
                  <span *ngIf="user.id==task.responsible">Responsible: <strong>@{{user.user.username}}</strong></span>
                </p>
                <mat-action-row *ngIf="event.eventplanner==userId">
                  <button mat-mini-fab style="background-color:orange;" (click)="updateTask(task,event)">
                    <mat-icon>build</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" (click)="deleteTask(task)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </div>

      <div class="task-status">
        <div class="task-status-inner">
          <div class="task-status-text">In Progress</div>
          <div cdkDropList id="listInProgress" [cdkDropListData]="tasksInProgress"
               (cdkDropListDropped)="saveDroppedItem($event)"
               [cdkDropListConnectedTo]="['listToDo', 'listDone']"
               class="drop-list-height">
            <div *ngFor="let task of tasksInProgress" cdkDrag [cdkDragData]="task"
                 [cdkDragDisabled]="userId!=task.responsible && userId!=event.eventplanner">
              <mat-expansion-panel class="task-margin">
                <mat-expansion-panel-header
                  [ngStyle]="{'background-color': (userId!=task.responsible && userId!=event.eventplanner) ? '#9b9b9b' : null }">
                  <mat-panel-title class="panel-header-width">
                    <strong>{{task.title}}</strong> <br>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  <mat-icon style="vertical-align: middle">description</mat-icon>
                  {{task.description}}
                </p>
                <p>
                  Deadline: {{task.deadline_date | date:'dd MMM yyyy'}} at {{task.deadline_time.substring(0, 5)}}
                </p>
                <p *ngFor="let user of userOptions">
                  <span *ngIf="user.id==task.responsible">Responsible: <strong>@{{user.user.username}}</strong></span>
                </p>
                <mat-action-row *ngIf="event.eventplanner==userId">
                  <button mat-mini-fab style="background-color:orange;" (click)="updateTask(task,event)">
                    <mat-icon>build</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" (click)="deleteTask(task)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </div>

      <div class="task-status">
        <div class="task-status-inner">
          <div class="task-status-text">Done</div>
          <div cdkDropList id="listDone" [cdkDropListData]="tasksDone" (cdkDropListDropped)="saveDroppedItem($event)"
               [cdkDropListConnectedTo]="['listToDo', 'listInProgress']"
               class="drop-list-height">
            <div cdkDrag [cdkDragData]="task" *ngFor="let task of tasksDone"
                 [cdkDragDisabled]="userId!=task.responsible && userId!=event.eventplanner">
              <mat-expansion-panel class="task-margin">
                <mat-expansion-panel-header
                  [ngStyle]="{'background-color': (userId!=task.responsible && userId!=event.eventplanner) ? '#9b9b9b' : null }">
                  <mat-panel-title class="panel-header-width">
                    <strong>{{task.title}}</strong> <br>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  <mat-icon style="vertical-align: middle">description</mat-icon>
                  {{task.description}}
                </p>
                <p>
                  Deadline: {{task.deadline_date | date:'dd MMM yyyy'}} at {{task.deadline_time.substring(0, 5)}}
                </p>

                <p *ngFor="let user of userOptions">
                  <span *ngIf="user.id==task.responsible">Responsible: <strong>@{{user.user.username}}</strong></span>
                </p>

                <mat-action-row *ngIf="event.eventplanner==userId">
                  <button mat-mini-fab style="background-color:orange;" (click)="updateTask(task,event)">
                    <mat-icon>build</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" (click)="deleteTask(task)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-----------------------Anzeigen aller Messages -------------------------------->
<div class="messenger-form-background"
     *ngIf="event ? event.eventplanner==userId || event.participants.includes(userId) : false">
  <div class="messengerbox" id="scrollMe">
    <mat-card class="message" *ngFor="let forumentry of forumentries; let i = index">
      <mat-card-content>
        <div class="current-date" *ngIf="showDateInbetweenForumentries(i)">
          <strong>{{forumentry.datetime | date:'dd. MMM yyyy'}}</strong></div>
        <!--  soll nur angezeigt werden, wenn forumentry.user == eingeloggter userid -->
        <div class="me" *ngIf="forumentry.userid == userId">
          <p>
            <strong>{{forumentry.user}}</strong>
          </p>
          <p>
            {{forumentry.content}}
          </p>
          <p style="text-align: right">
            {{forumentry.datetime | date:'hh:mm'}}
          </p>
        </div>

        <!-- message aller anderen -->

        <div class="others" *ngIf="forumentry.userid != userId">
          <p>
            <strong>{{forumentry.user}}</strong>
          </p>
          <p>
            {{forumentry.content}}
          </p>
          <p style="text-align: right">
            {{forumentry.datetime | date:'hh:mm'}}
          </p>
        </div>

      </mat-card-content>
    </mat-card>
  </div>


  <!--Neue Message -->


  <div class="new-message">
    <div style="float: left; width: 100%">

      <div style="width: 100%">New Message</div>
      <form [formGroup]="forumentryFormGroup" class="new-message-content">
        <mat-form-field style="display: block">
          <textarea matInput type="text" placeholder="Content" formControlName="content" (keydown.enter)="createForumentry()"></textarea>
        </mat-form-field>
      </form>
      <button mat-icon-button [disableRipple]="true" (click)="createForumentry()" class="new-message-button">
        <mat-icon style="vertical-align: bottom">send</mat-icon>
      </button>

    </div>
  </div>
</div>
