.chip-list {
  width: 100%;
}

.button-delete-input{
  padding: 0;
  min-width: auto;
  line-height: normal;
  box-shadow: none;
  vertical-align: middle !important;
  //font-size: 10px !important;
  //color: green;
}
