<div class="tag-list-form">

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search for new events!" aria-label="Search for new events!" matInput
           [formControl]="input" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="changeEvent($event.option.value)">
                   <!--   (keydown.enter)="addFriend(-1,true)"> -->
      <mat-option *ngFor="let user of filteredTagList | async" [value]="user">
        {{user.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button class="button-delete-input" (click)="input.setValue('')"><mat-icon>clear</mat-icon></button>
</form>

<mat-form-field class="chip-list">
  <mat-chip-list aria-label="Tag selection" [multiple]="true" >
    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" (click)="changeEvent(tag)" >
      {{tag.name}}
    </mat-chip>
  </mat-chip-list >
</mat-form-field>

</div>

<br>

<div class="event-list">

    <mat-card class="check-object-form event-card" *ngFor="let event of showEvents"  >
    <mat-card-header>
      <mat-card-title (click)="eventDetail(event.id)" >{{event.name}}</mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        Location: {{event.location}}
      </p>
      <p>
        When: {{event.date}} at {{event.time}}
      </p>
      <p>
        For more information, click on the EVENT!
      </p>
    </mat-card-content>
      <mat-card-actions>
      <button mat-button (click)="participateEvent(event)" >I'm in!</button>
      </mat-card-actions>
    </mat-card>

</div>
