@media only screen and (max-width: 750px) {
  .example-full-width {
    width: 80%;
  }

  .friend-area {
    width: 65%;
    margin-left: 5%;
  }

  .friend-area-adapted {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 750px) {
  .example-full-width {
    width: 90%;
  }

  .friend-area {
    width: 50%;
    margin-left: 20%;
  }

  .friend-area-adapted {
    width: 50%;
    margin-left: 25%;
  }
}

.example-form {
  min-width: 50px;
  max-width: 500px;
  width: 80%;
}

.example-full-width {

}

.event-card{
  width: auto;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.event-card-title{
  margin-bottom: 0px !important;
}

.button-delete{
  float: right;
  margin-top: -16px !important;
  margin-right: -16px !important;
  padding: 5px;
  min-width: auto;
  line-height: normal;
  box-shadow: none;
  color: #cb0000;
}

.button-add{
  float: right;
  padding: 5px !important;
  margin-top: 10px !important;
  margin-right: -20px !important;
  min-width: auto;
  line-height: normal;
  box-shadow: none;
  font-size: 20px;
  color: green;
}

@keyframes areaSlideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.friend-area {
  display: block !important;
  float: left;
  animation: 1s ease-out 0s 1 areaSlideInFromTop;
  border-radius: 0 0 10px 10px;
  text-align: -webkit-center;
  background-color: rgba(245, 245, 245, 0.95);
}

.friend-area-adapted {
  display: block !important;
  float: left;
  animation: 1s ease-out 0s 1 areaSlideInFromTop;
  border-radius: 0 0 10px 10px;
  text-align: -webkit-center;
  background-color: rgba(245, 245, 245, 0.95);
}

.friend-requests {
  float: right;
  animation: 500ms ease-out 0s 1 areaSlideInFromTop;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 0 0 10px 10px;
  width: 20%;
  margin-right: 5%;
}

.friend-accept {
  // float: right; currently unused
}
