.event-list {
  flex-direction: column;
  width: 65%;
  float: left;
  margin: 0px auto 2rem;
  padding: 0px 1% 3% 3%;
}

.event-card {
  width: 25%;
  margin: 10px;
  display: inline-block;
}

.mat-button {
  display: block;
  background-color: antiquewhite;
  margin: 2%;

}

.buttons {
  float: right;
  align-items: center;
  width: 15%;
  margin: 15% 5% 5% 1%;
}

.task-list {
  padding: 3%;
  float: bottom;
}

.event-list-button {
  display: inline;
}

.wrapper {
  float: left;
  width: 100%;
}
