<div class="event-list">

  <div>
    <h3>My Events <br>MY USERNAME {{username}} WITH ID {{userId}}<br></h3>
    <button mat-button routerLink="../check-invitation" *ngIf="openEvents">You have been invited to new events!
    </button>
  </div>


  <mat-card class="event-card" *ngFor="let event of events">

    <mat-card-header style="display: block" (click)="moveToEventDetail(event.id)">
      <mat-card-title>{{event.name}}
        <mat-icon class="eventplanner-icons" *ngIf="event.eventplanner == username">star</mat-icon>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <p>
        Description: {{event.description}}
      </p>
      <p>
        Location: {{event.location}}
      </p>
      <p>
        When: {{event.date}}
      </p>


      This is a

      <strong>
        <div *ngIf="event.public; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>public</ng-template>
        <ng-template #elseBlock>private</ng-template>
      </strong>

      event.

      <p>
        Responsible: {{event.eventplanner}}
      </p>
      <p>
        Who else: {{event.invited}}
      </p>
    </mat-card-content>
  </mat-card>

</div>


<!-- --------------------------------------------------------------------------------------------------------- -->
<br>
<div class="wrapper">

  <mat-divider></mat-divider>

  <div class="task-list">

    <button mat-button routerLink="../check-tasks" *ngIf="openTask">You have new tasks!
    </button>

    <h3>My Tasks</h3>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let task of tasks">

        <mat-expansion-panel-header>
          <mat-panel-title class="mat-panel-title">
            <p>
              <strong>{{task.title}}</strong> <br>
              event: {{task.event.name}}
            </p>
          </mat-panel-title>
          <mat-panel-description class="mat-panel-description-deadline">
            <p>
              Deadline: {{task.deadline_date | date:'dd MMM yyyy'}} {{task.deadline_time.substring(0, 5)}}
            </p>
          </mat-panel-description>
          <mat-panel-description class="mat-panel-description-status">
            <p>
              {{taskService.statusName[task.status]}}
            </p>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          Description: {{task.description}}
        </p>

        The status of this task: {{taskService.statusName[task.status]}} <br><br>
        <mat-form-field>
          <mat-select [(ngModel)]="task.status">
            <mat-option [value]="status.key" *ngFor="let status of taskService.statusName | keyvalue"
                        (click)="updateStatus(task, status.key)">{{status.value}}</mat-option>
          </mat-select>
        </mat-form-field>

        <p>
          deadline: {{task.deadline_date}} {{task.deadline_time}}
        </p>
        <p>
          responsible: {{task.responsible.username}}
        </p>

        <!--<div class="buttons">
          <div class="button-save">
            <button mat-button (click)="saveTask(task, task.value)">Edit Task</button>
          </div>
          <div class="button-delete">
            <button mat-button (click)="deleteEvent(task)">Delete Task</button>
          </div>
        </div>-->

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
